<% if !@orderline.nil? && @orderline.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @orderline.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @orderlines.size == 0 %>
  <p class="text-center">
    There are no items in your shopping cart.  Please <%= link_to "go back", root_path %> and add some items to your cart.
  </p>
<% else %>
  <% @orderlines.each do |order_line| %>
    <%= render 'shopping_carts/cart', product: order_line.product, order_line: order_line, show_total: true %>
  <% end %>
<% end %>
