<h1>Order History for <% if current_user.user_profile %>
  <%= @user.first_name %>
<% else %>
<%= current_user.email %> </h1>
<% end %>
ORDER DATE - Subtotal
<% @orders.each do |order| %>
<p><%= link_to order.created_at.strftime('%d-%m-%Y'), order %>   
  <%= number_to_currency(order.total_price, :locale => :fr) %></p>
  <br>
<% end %>
